h3 {
  color: black;
  text-align: center;
  font-size: 25px;
  background-color: rgb(182, 182, 219);
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left column */
.column.side.left {
  width: 50%;
}

/* Right Column*/
.column.side.right {
  width: 20%;
}
